/* Reset */
ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* Essential Styles */
body {
  /* font-family: "Graphik Regular", Arial, sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  overflow-x: hidden; /* this solved the problem footer horiz scroll bar*/
}

/* Main Sections Styles */
#main-nav {
  height: 40px;
  background: #000 !important;
}

#main-wrapper {
  position: relative;
  min-height: 100vh;
}
#content-wrapper {
  padding-bottom: 170px;
}
#main-header {
  /* border: 1px solid #000; */
}

#main-section {
  /* border: 1px solid #000; */
}

#footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 80px;
  padding: 15px;
  background: #000 !important;
  opacity: 0.8;
  color: #555;
  text-align: center;
}
