/* Reset */
* {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* Essential Styles */
body {
  /* font-family: "Graphik Regular", Arial, sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  line-height: 1.8;
  overflow-x: hidden; /* this solved the problem footer horiz scroll bar*/
}

/* Main Sections Styles */
#main-nav {
  height: 7vh;
  background: #000 !important;
}

#main-wrapper {
  position: relative;
  height: 100vh;
  clear: both;
}
#content-wrapper {
  min-height: 70vh;
  padding-bottom: 3vh;
}
#main-header {
  /* border: 1px solid #000; */
}

#main-section {
  /* border: 1px solid #000; */
}

#footer {
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 20vh;
  padding: 15px;
  background: #000 !important;
  opacity: 0.8;
  color: #555;
  text-align: center;
}
