/*******************************************************/
/* Media Queries */
/*******************************************************/
@media only screen and (max-width: 900px) {
  /* Tablets and laptops*/
  /* Contents */
  .main-content {
    display: flex;
    flex-direction: column;
  }
  .content-heading {
    width: 100%;
  }
  .content-slider {
    width: 100%;
  }
  .content-body {
    width: 100%;
  }

  /* Project content */
  .project-number {
    width: 5%;
  }
  .project-title {
    min-width: 25%;
  }
  .project-button {
    min-width: 15%;
    margin: auto;
    text-align: center;
  }
  .project-desc {
    min-width: 40%;
  }
  .project-status {
    display: none;
  }
  .projects {
    width: 90%;
    margin: auto;
  }

  /* Login Styles */
  .form-div {
    width: 70%;
  }
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  /* Header */
  .menu,
  .signin-div {
    display: none;
  }

  .logo-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .menu-btn {
    visibility: visible;
  }
  /* Content */
  .content-slider {
    visibility: hidden;
  }
  .content-heading {
    text-align: center;
  }

  .content-button ul {
    flex-direction: column;
  }
  .content-button ul li {
    width: 75%;
  }

  /* Project content */
  .project-number {
    width: 10%;
  }
  .project-title {
    min-width: 55%;
  }
  .project-button {
    min-width: 30%;
    margin: auto;
    text-align: center;
  }
  .project-desc {
    display: none;
  }

  /* Login Styles */
  .form-div {
    width: 100%;
  }

  .input-block input[type="text"] {
    width: 100%;
  }
  .input-icon {
    display: none;
  }

  /* Footer */
  .main-footer {
    display: flex;
    flex-direction: column;
  }
}
