<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cycle of Benefits</title>
    <!-- title favicon -->
    <link rel="icon" href="" type="image/x-icon" />
    <!-- Font awesome CDN-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"
    />
    <!-- Latest compiled and minified CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    /> -->
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/admin.css" />
    <link rel="stylesheet" href="css/dynamic.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <!-- Google Fonts Api -->
    <link
      href="https://fonts.googleapis.com/css?family=Karla&display=swap"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <header class="main-header">
        <div class="logo-div">
          <a href="./"><i class="fas fa-dolly-flatbed fa-2x"></i></a>
          <p><a href="./">Cycle of Benefits</a></p>
          <div class="menu-btn">
            <i class="fas fa-bars fa-2x"></i>
          </div>
          <div class="menu">
            <ul class="nav-list">
              <li class="nav-item">
                <a href="./">Home</a>
              </li>
              <li class="nav-item">
                <a href="./projects">Projects</a>
              </li>
              <li class="nav-item">
                <a href="./about">About</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="signin-div">
          <a class="signin-link" href="./login">Sign In</a>
        </div>
      </header>
      <div class="menu-header">
        <ul class="menu-list">
          <li>
            <a class="menu-item" href="./">Home</a>
          </li>
          <li>
            <a class="menu-item" href="./projects">Projects</a>
          </li>
          <li>
            <a class="menu-item" href="./about">About</a>
          </li>
          <li>
            <a class="menu-item" href="./login">Sign In</a>
          </li>
        </ul>
      </div>

      <main class="main-content">
        <div id="admin">
          <header>
            <h2>Control Panel</h2>
            <p>Put the necessary input and get results</p>
          </header>
          <div id="inputs">
            <div>
              <label for="project_id">Project Id: </label>
              <input type="text" id="project_id" />
            </div>
            <div>
              <label for="user_id">User Id: </label>
              <input type="text" id="user_id" />
            </div>
          </div>
          <div id="control">
            <div>
              <input
                class="my-btn"
                type="button"
                id="showAllusers"
                value="All Users"
              />
            </div>
            <div>
              <input
                class="my-btn"
                type="button"
                id="showAllProjects"
                value="All Projects"
              />
            </div>
            <div>
              <input
                class="my-btn"
                type="button"
                id="archiveProject"
                value="Archive Projects"
              />
            </div>
            <div>
              <input
                class="my-btn"
                type="button"
                id="showAllRedeemedRewards"
                value="Requests"
              />
            </div>
            <div>
              <input
                class="my-btn"
                type="button"
                id="RemoveUser"
                value="Remove User"
              />
            </div>
            <div>
              <input
                class="my-btn"
                type="button"
                id="RemoveProject"
                value="Remove Project"
              />
            </div>
          </div>
          <div class="display">
            <h2 id="display-heading"></h2>
            <div id="display-body"></div>
          </div>
        </div>
      </main>
      <footer class="main-footer">
        <p>
          All rights reserved | Created & Designed by Cole &copy; 2019.
        </p>
        <div class="footer-icon">
          <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
      </footer>
    </div>
    <script type="module" src="/app.js"></script>
    <script type="module" src="/admin.js"></script>
  </body>
</html>
