<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cycle of Benefits</title>
    <!-- title favicon -->
    <link rel="icon" href="" type="image/x-icon" />
    <!-- Font awesome CDN-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.11/css/all.css"
    />
    <!-- Latest compiled and minified CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    /> -->
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/dynamic.css" />
    <link rel="stylesheet" href="css/mobile.css" />
    <!-- Google Fonts Api -->
    <link
      href="https://fonts.googleapis.com/css?family=Karla&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <header class="main-header">
        <div class="logo-div">
          <a href="./"><i class="fas fa-dolly-flatbed fa-2x"></i></a>
          <p><a href="./">Cycle of Benefits</a></p>
          <div class="menu-btn">
            <i class="fas fa-bars fa-2x"></i>
          </div>
          <div class="menu">
            <ul class="nav-list">
              <li class="nav-item">
                <a href="./">Home</a>
              </li>
              <li class="nav-item">
                <a href="./projects">Projects</a>
              </li>
              <li class="nav-item">
                <a href="./about">About</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="signin-div">
          <a class="signin-link" href="./login">Sign In</a>
        </div>
      </header>
      <div class="menu-header">
        <ul class="menu-list">
          <li>
            <a class="menu-item" href="./">Home</a>
          </li>
          <li>
            <a class="menu-item" href="./projects">Projects</a>
          </li>
          <li>
            <a class="menu-item" href="./about">About</a>
          </li>
          <li>
            <a class="menu-item" href="./login">Sign In</a>
          </li>
        </ul>
      </div>
      <div class="clear-float"></div>
      <main class="main-content">
        <div class="content-heading">
          <h1>All Projects</h1>
          <p>
            The current list of all uploaded projects Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Culpa hic aspernatur sunt quasi
            accusantium dolor?
          </p>
        </div>
        <div class="content-body">
          <div class="projects">
            <ul class="project-pills">
              <li class="project-heading">
                <div class="heading-id"><i class="fas fa-list-ol"></i></div>
                <div class="heading-title">Title</div>
                <div class="heading-details">Details</div>
                <div class="heading-status">
                  <i class="fas fa-hourglass-half"></i>
                </div>
                <div class="heading-workers">
                  W
                  <!-- <i class="fas fa-"></i> -->
                </div>
                <div class="heading-button">
                  <i class="fas fa-binoculars"></i>
                </div>
              </li>
              <li class="project_">
                <div class="project-id">100</div>
                <div class="project-title">Lorem ipsum dolor sit amet.</div>
                <div class="project-details">
                  Lorem ipsum dolor sit amet consectetur adipisicing etdt.
                  Magnam soluta iure cupiditate, dolore tdbero minima? iure
                  cupiditate, dolore tdbero minima? iure cupiditate, dolore
                  tdbero minima?
                </div>
                <div class="project-status">Open</div>
                <div class="project-workers">
                  <span class="current">1</span>/<span class="total">10</span>
                </div>
                <div class="project-button">
                  <input type="button" class="my-btn" value="View" />
                </div>
              </li>
              <li class="project_">
                <div class="project-id">101</div>
                <div class="project-title">Lorem ipsum dolor sit amet.</div>
                <div class="project-details">
                  Lorem ipsum dolor sit amet consectetur adipisicing etdt.
                  Magnam soluta iure cupiditate, dolore tdbero minima? iure
                  cupiditate, dolore tdbero minima? iure cupiditate, dolore
                  tdbero minima?
                </div>
                <div class="project-status">Open</div>
                <div class="project-workers">
                  <span class="current-workers">1</span>/<span
                    class="total-workers"
                    >10</span
                  >
                </div>
                <div class="project-button">
                  <input type="button" class="my-btn" value="View" />
                </div>
              </li>
              <li class="project_">
                <div class="project-id">102</div>
                <div class="project-title">Lorem ipsum dolor sit amet.</div>
                <div class="project-details">
                  Lorem ipsum dolor sit amet consectetur adipisicing etdt.
                  Magnam soluta iure cupiditate, dolore tdbero minima? iure
                  cupiditate, dolore tdbero minima? iure cupiditate, dolore
                  tdbero minima?
                </div>
                <div class="project-status">Open</div>
                <div class="project-workers">
                  <span class="current-workers">1</span>/<span
                    class="total-workers"
                    >10</span
                  >
                </div>
                <div class="project-button">
                  <input type="button" class="my-btn" value="View" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </main>
      <footer class="main-footer">
        <ul>
          <li><a href="./contact">Contact Us</a></li>
          <li><a href="./about">About</a></li>
          <li>
            <a href="#"><span class="green-text">Market Place</span></a>
          </li>
        </ul>
        <p>
          All rights reserved | Created & Designed by Cole &copy; 2019.
        </p>
        <div class="footer-icon">
          <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
          <a href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
      </footer>
    </div>
    <!--Main Wrapper div-->
    <!-- Optional JavaScript -->
    <script type="module" src="/app.js"></script>
  </body>
</html>
