#main-nav a:hover {
  color: rgb(218, 218, 218) !important;
}
#logo {
  /* border: 1px solid yellow; */
}
#logo h6 {
  color: #fff;
  font-size: 0.8em;
}
#menu-nav {
  width: 100%;
  /* border: 1px solid blue; */
}

#menu-nav li {
  width: auto;
  /* border: 1px solid white; */
}

#menu-nav li:after {
  content: "|";
  color: #0056b3;
}
#menu-nav li:last-child:after {
  content: "";
}
#menu-nav a {
  display: inline-block;
}

#menu-nav li a:hover {
  color: rgb(218, 218, 218) !important;
}

#login-nav {
  /* border: 1px solid red; */
}

#login-nav li {
}

#login-nav li:after {
  content: "|";
  color: #0056b3;
}
#login-nav li:last-child:after {
  content: "";
}
#login-nav a {
  display: inline-block;
}

#avatar {
  position: relative;
  display: none;
  /* Default display of avatar logo == none */
}

#main-header h1 {
}

.carousel-inner img {
  max-width: 100%;
  display: block;
  height: 400px;
}
